/* Don't change the existing CSS. */

.box {
  background-color: blue;
  padding: 10px;
}
div{
  padding: 20px;
}

p {
  color: yellow;
  margin: 0;
  padding: 0;
}
#outer-box{
  border: 5px solid purple;
}
.inner-box{
  background-color: red;
  padding:10px
}

